.userCardContainerRow {
  height: 77px;
}

.userCardContainer {
  background-color: #F26419;
}

.chatListContainerRow {
  height: 500px;
}

.chatListContainer {
  background-color: rgba(51, 100, 138, 0.178);
}

.chatHeaderContainerRow {
  height: 77px;
}

.chatHeaderContainer {
  background-color: #F6AE2D;
}

.chatContentContainerRow {
  height: 500px;
}

.chatContentContainer {
  background-color: #55DDE0;
}