.pantalla{
    width:100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.LogoTitle{
    font-family: 'Michroma', sans-serif;
    color: white;
    font-size: 40px;
}